<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <!-- غيّر Data Source إذا كان اسم SQL Server عندك مختلفًا -->
        <add name="HotelDb" connectionString="Data Source=.;Initial Catalog=Hotel;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
